@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900&display=swap');


body{
    margin: 0%;
    overflow-x: hidden;
    background-color:#002e6d;
    font-family: 'Nunito Sans', sans-serif;
    max-width: 100%;
    
}




/* home section */



header 
{
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1px 2px;
    z-index: 99;
    background: transparent;
    left: 250px;

}
.menu  header
{
    width: 400px;
    float: left;
    height: 70px;
}
ul
{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li
{
    list-style: none;
    margin-left: 60px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: #002e6d;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover
{
    color:#d00d2d;
}

.background
{
    width: 100%;
    height: 100vh;
    background-image: url(img/IMG_0433.jpg);
    background-position: center;
    background-size: cover;
    filter: blur(2px);
 
}
.home
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50% , -50%);
    background-image: url(img/IMG_0433.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 10px 10px 0px;
}
.content
{
    display: flex;
    align-items: center;
    height: 50px;
    width: 780px;
    margin-left: 100px ;
    margin-top: 200px;
}
.content p{
    font-size: 50px;
    color: #f9f8f4;
    font-weight: 500;
    margin-top: 65px;
}

.image-logo{
    margin-right: 15px; 
}
.connect{
    margin-left: -40px;
}
.logo{
    padding-right: 100px;
    margin-left: 500px;
}
.home{
    display: flex;
    flex-direction: column;
}
.home p{
    color: #f9f8f4;
    text-align: center;
}





/* all event section */



main{
    height: auto;
    max-width: 100%;
}
main div h1{
    color: #f9f8f4;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    padding-inline: 200px;
    margin-left: 60px;
}
.filter a{
    text-decoration: none;
    color:#f9f8f4;
    font-weight: bold;
    font-size: 20px;
}
.filter-box{
    background-color:#d00d2d;
    padding-inline: 20px;
    border-radius: 5px;
}
.img-container{
    width: 300px;
    height: 200px;
}
.img-size{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 5px;
}
.icon-img{
    width: 60px;
    height: 60px;
    background-size: cover;
    margin-top: -200px;
    margin-left: 230px;
}
.info-events{
    background-color: #f9f8f4;
    width: 300px;
    border-radius: 5px;
    height: auto;
    
}
.details-icons{
    display: flex;
    justify-content: space-between;
    width: 250px;
    align-items: center;
    padding-inline: 10px;
    margin-top: -20px;
}
.details-icons img{
    width: 15px;
    height: 15px;
    margin-bottom: -3px;
}
.details-icons p{
    font-size: 12px;
}
.all-events{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    align-items: center;
    padding-inline: 150px;
}
.all-events a{
    text-decoration: none;
    color: black;
}
#all-events2{
    margin-top: -60px;
}
.reserve-button{
    padding: 10px;
    background-color: #d00d2d;
    color: #f9f8f4;
    margin-inline: 0px;
    border: solid 1px gray;
    border-radius: 5px;
}
.reserve-button:hover{
    opacity: 0.8;
}
.reserve-button a{
    color: #f9f8f4;
}
.info-details h2{
    font-size: 20px;
    
}
.info-details{
    padding-inline: 10px;
}
.details{
    margin-top: -0px;
}




/* Get in touch section */





.information{
    background-color: #f9f8f4;
    padding-left: 50px;
}
.searchbox{
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    margin-left: 500px;
    margin-bottom: 30px;


}
.searchbox img{
    width: 20px;
    height: 20px;
}
.searchbox a{
    color: #f9f8f4;
    text-decoration: none;
    border: solid 1px #4a76b3;
    padding-inline: 10px;
}
.searchbox p{
    padding-inline: 10px;
}
#redbox{
    background-color: #d00d2d;
    padding-inline: 10px;
    border: solid 0px;
}
.contact{
    display: flex;
    width: 550px;
    flex-direction: column;
}
.contact h1{
    color: var(--black, #000);
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.contact h2{
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.14px;
    width: 550px;
    margin-top: -50px;

}
.info{
    background-color: rgb(255, 255, 255);
    height: 49px;
    width: 500px;
    padding-inline: 10px;
    font-family: inherit;
    border: solid 1px gray;
    
}
.button{

    background-color:#d00d2d;
    color: white;
    height: 49px;
    width: 300px;
    padding-inline: 10px;
    font-family: inherit;
    margin-inline-start: -5px;
    border: solid 1px gray;
    cursor: pointer;

}
span{
    color: #d00d2d;
    padding-left: 10px;
}





/* about us section  */





.team-area{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}
.team-area h2{
    color: #f9f8f4;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}
.team-area p{
    color: #f9f8f4;
    font-size: 54px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-align: center;
    margin-top: -50px;
}

.team-img{
    width: 300px;
    height: auto;
    margin-left: -10px;
}

.team-info h3{
    color: #f9f8f4;
    font-size: 20px;
    
}

.image-size{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.team-part1{
    display: flex;
    justify-content: space-between;
    width: auto;

}
.single-team{
    background-color: #002e6d;
    box-shadow: #002e6d;
    box-shadow: 5px 10px 10px 0px;
    width: 300px;
    border-radius: 10px ;
    margin-inline: 20px;
    padding-left: 20px;
}
.single-team h3{
    font-size: 20px;
    color: #f9f8f4;
}
.single-team h4{
    font-size: 15px;
    color: #f9f8f4;
    margin-top: -20px;
}
.single-team h6{
    display: block;
    text-decoration: none;
    color: #f9f8f4;
    margin-top: -20px;
    font-weight: lighter;
}
.team-part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin-top: 50px;
    width: 600px;
    margin-left: -100px;
}




/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}


