/* now add CSS code*/
.section-title h2{
    text-transform: uppercase;
}
.section-title{
    margin: 3% 0;
}
.section-title p{
    text-transform: uppercase;
    font-weight: bold;
}
.single-team{
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 5px 5px 15px #000;
}
.team-img{
    position: relative;
    z-index: 5;
    overflow: hidden;
}
.team-img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.single-team:hover .team-img img{
    transform: scale(1,1);
}
.team-content{
    height: 80px;
    width: 150px;
    position: absolute;
    text-align: center;
    overflow: hidden;
    bottom: 0;
    transition: all 0.4s;
    background: maroon;
    z-index: 5;
}
.single-team:hover .team-content{
    height: 15px;
}
.team-info{
    padding: 5px 20px 5px 20px;
    transition: all .5s;
}
.single-team:hover .team-content{
    background: #000;
}
.single-team .team-content .team-info h3{
    text-transform: uppercase;
    color: #750a0a;
    font-size: 16px;
    margin: 5px;
}
.single-team:hover .team-info h3{
    color: #b52121;
    font-weight: bold;
}
.team-info p{
    margin-top: 15px;
    color: #0c0976;
}
.single-team-text p{
    margin-top: 5px;
}
.team-text{
    color: #120e0e;
    padding: 0 10px 5px;
}
.image-size{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.col-md-3{
    width: 300px;
    height: auto;
}